body{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}
.btn{
    height: 200px;
    width: 200px;
    margin: 1.5rem;
    border: 8px solid black;
    border-radius: 20%;
}


.red{
    background-color: #e62f2f;
}
.yellow{
    background-color: #deee05;
}
.green{
    background-color: #59b502;
}
.blue{
    background-color: #9196ff;
}
.flash{
    background-color: whitesmoke;
}
.userflash{
    background-color: #1b1b1b;
}